@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-barlow-semi-condensed);
}

body {
    background: radial-gradient(circle at 50% 0, hsla(214, 47%, 23%, 0.95), hsl(237, 49%, 15%));
}

/* MAIN */

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 80px;
    padding-block: 30px;
    padding-inline: 30px;
}

/* 

    MAIN TOP

*/

.main-top {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-top-itself {
    width: 70%;
    border: 1px solid hsl(217, 16%, 45%);
    padding: 15px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-top-itself-right {
    background-color: white;
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 50px;
}

.main-top-itself-right-score-text {
    color: hsl(229, 64%, 46%);
}

.main-top-itself-right-score-itself {
    color: hsl(229, 25%, 31%);
    font-size: 4rem;
    line-height: 1;
}

/* 

    MAIN MIDDLE

*/

.main-middle {
    display: flex;
}

/* MAIN MIDDLE PICKING */

.main-middle-picking {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./images/bg-pentagon.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 350px;
    height: 350px;
}

.main-middle-picking-hidden {
    display: none;
}

/* MAIN MIDDLE PICKING BUTTON */

.main-middle-picking-button {
    width: 140px;
    height: 140px;
    border-radius: 5rem;
    box-shadow: inset 0 4px 0 rgba(0,0,0,0.1);
    background-color: white;
    cursor: pointer;
}

/* SCISSORS */

.main-middle-picking-button-scissors {
    transform: translateY(-60px);
    border: 13px solid hsl(40, 84%, 53%);
    filter: drop-shadow(0 6px 0 hsl(39, 89%, 41%));
}

.main-middle-picking-button-scissors:active {
    transform: translateY(-54px);
    filter: drop-shadow(0 0 0 hsl(39, 89%, 41%));
}

/* SPOCK */

.main-middle-picking-button-spock {
    transform: translateX(-100px) translateY(-70px);
    border: 13px solid hsl(189, 58%, 57%);
    filter: drop-shadow(0 6px 0 hsl(189, 55%, 41%));
}

.main-middle-picking-button-spock:active {
    transform: translateX(-100px) translateY(-64px);
    filter: drop-shadow(0 0 0 hsl(189, 55%, 41%));
}

/* PAPER */

.main-middle-picking-button-paper {
    transform: translateX(100px) translateY(-70px);
    border: 13px solid hsl(230, 89%, 65%);
    filter: drop-shadow(0 6px 0 hsl(230, 60%, 51%));
}

.main-middle-picking-button-paper:active {
    transform: translateX(100px) translateY(-64px);
    filter: drop-shadow(0 0 0 hsl(230, 60%, 51%));
}

/* LIZARD */

.main-middle-picking-button-lizard {
    transform: translateX(-40px) translateY(-30px);
    border: 13px solid hsl(261, 72%, 63%);
    filter: drop-shadow(0 6px 0 hsl(261, 50%, 48%));
}

.main-middle-picking-button-lizard:active {
    transform: translateX(-40px) translateY(-24px);
    filter: drop-shadow(0 0 0 hsl(261, 50%, 48%));
}

/* ROCK */

.main-middle-picking-button-rock {
    transform: translateX(40px) translateY(-30px);
    border: 13px solid hsl(349, 70%, 56%);
    filter: drop-shadow(0 6px 0 hsl(349, 67%, 46%));
}

.main-middle-picking-button-rock:active {
    transform: translateX(40px) translateY(-24px);
    filter: drop-shadow(0 0 0 hsl(349, 67%, 46%));
}

/* MAIN MIDDLE OUTCOME */

.main-middle-outcome {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: relative;
}

.main-middle-outcome-active {
    display: flex;
}

/* MAIN MIDDLE OUTCOME MAIN */

.main-middle-outcome-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.main-middle-outcome-main-text {
    color: white;
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.main-middle-outcome-main-button {
    font-size: 1.1rem;
    padding: 13px 80px;
    border-radius: 0.5rem;
    border: 0;
    color: hsl(229, 25%, 31%);
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

/* MAIN MIDDLE OUTCOME PICKED */

.main-middle-outcome-picked {
    display: flex;
    align-items: center;
    column-gap: 380px;
}

.main-middle-outcome-picked-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.main-middle-outcome-picked-inner-text {
    color: white;
    letter-spacing: 5px;
}

.main-middle-outcome-picked-inner-itself {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 10rem;
    box-shadow: inset 0 7px 0 rgba(0,0,0,0.1);
    border: 30px solid hsl(40, 84%, 53%);
    filter: drop-shadow(0 10px 0 hsl(39, 89%, 41%));
    background-color: white;
}

.main-middle-outcome-picked-inner-itself-scissors {
    border: 30px solid hsl(40, 84%, 53%);
    filter: drop-shadow(0 10px 0 hsl(39, 89%, 41%));
}

.main-middle-outcome-picked-inner-itself-spock {
    border: 30px solid hsl(189, 58%, 57%);
    filter: drop-shadow(0 10px 0 hsl(189, 55%, 41%));
}

.main-middle-outcome-picked-inner-itself-paper {
    border: 30px solid hsl(230, 89%, 65%);
    filter: drop-shadow(0 10px 0 hsl(230, 60%, 51%));
}

.main-middle-outcome-picked-inner-itself-lizard {
    border: 30px solid hsl(261, 72%, 63%);
    filter: drop-shadow(0 10px 0 hsl(261, 50%, 48%));
}

.main-middle-outcome-picked-inner-itself-rock {
    border: 30px solid hsl(349, 70%, 56%);
    filter: drop-shadow(0 10px 0 hsl(349, 67%, 46%));
}

/* 

    MAIN BOTTOM

*/

.main-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* MAIN BOTTOM BUTTON */

.main-bottom-button {
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 0.3rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.main-bottom-button:hover {
    background-color: rgba(255,255,255,0.05);
}

.main-bottom-button:active {
    background-color: rgba(255,255,255,0.1);
}

/* MAIN BOTTOM RULES CONTAINER */

.main-bottom-rules-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.main-bottom-rules-container-active {
    display: flex;
}

.main-bottom-rules-container-inner {
    padding: 30px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.main-bottom-rules-container-inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-bottom-rules-container-inner-header-text {
    color: hsl(229, 25%, 31%);
    font-size: 1.8rem;
}

.main-bottom-rules-container-inner-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}